# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DATABASE=joplin_db

# Joplin Server Configuration
APP_BASE_URL=https://joplin.example.com

# Joplin Data Volume Location
JOPLIN_DATA_VOLUME=/tank/docker/data/joplin

# Joplin Email Sending (via SMTP)
MAILER_ENABLED=1
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_SECURITY=starttls
MAILER_AUTH_USER=your-email@gmail.com
MAILER_AUTH_PASSWORD=your-app-password
MAILER_NOREPLY_NAME=Joplin Server
MAILER_NOREPLY_EMAIL=your-email@gmail.com
